<div id="top-search-bar">
	<a id="search-logo" href="/" title="返回网盘搜索"></a>
    <div class="container">
    	<div class="row">
        	<div class="col-lg-7">
              {% include "search/form.njk" %}
          </div><!-- /.col-lg-6 -->  
        </div>
    </div>
</div>

<div id="s-bar">
  <div class="container">
    <ul id="search-bar" class="nav nav-pills">
      <li><a href="http://www.ibying.com/search?q={{ keyword }}" class="web-s" >网页</a></li>
      <li><a href="#" class="pan-s active">网盘</a></li>
    </ul>
  </div>
</div>