<form id="s-form" action="/search" method="get">
    <div class="input-group">
      <input baiduSug="2" autofocus placeholder="搜索网页或要下载的资源" name="q" id="q" type="text" style="box-shadow:none;" class="form-control" />
      <span class="input-group-btn">
        <button type="submit" id="search-btn" class="btn">
            <i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;
        </button>
      </span>
    </div>
</form>